In [234]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importando os dados do dataset
# https://www.kaggle.com/datasets/ammaraahmad/immigration-to-canada

df_canada = pd.read_csv('canadian_immegration_data.csv')
df_canada

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
191,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2
192,Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,...,161,140,122,133,128,211,160,174,217,2985
193,Zambia,Africa,Eastern Africa,Developing regions,11,17,11,7,16,9,...,91,77,71,64,60,102,69,46,59,1677
194,Zimbabwe,Africa,Eastern Africa,Developing regions,72,114,102,44,32,29,...,615,454,663,611,508,494,434,437,407,8598

In [235]:
# Importando os dados do dataset
# https://www.kaggle.com/datasets/tanuprabhu/population-by-country-2020

pop_country = pd.read_csv('population_by_country_2020.csv')
pop_country = pop_country.rename({'Country (or dependency)': 'Country',
                                 'Population (2020)': 'Population',}, axis='columns')
pop_country = pop_country.drop(['Yearly Change', 'Net Change', 'Density (P/KmÂ²)', 'Fert. Rate', 'World Share'], axis = 1)
pop_country.head()

,Country,Population,Land Area (KmÂ²),Migrants (net),Med. Age,Urban Pop %
0,China,1440297825,9388211,-348399.0,38,61 %
1,India,1382345085,2973190,-532687.0,28,35 %
2,United States,331341050,9147420,954806.0,38,83 %
3,Indonesia,274021604,1811570,-98955.0,30,56 %
4,Pakistan,221612785,770880,-233379.0,23,35 %

In [236]:
#Checando que paises nÃ£o possuem informaÃ§Ã£o de populaÃ§Ã£o ou possuem nome diferente nas tabelas

checar_paises =  pop_country.merge(df_canada, on = 'Country', how = 'right', indicator = True)
checar_paises[checar_paises['_merge'] == 'right_only']['Country']

21                      Bolivia (Plurinational State of)
25                                     Brunei Darussalam
37        China, Hong Kong Special Administrative Region
38            China, Macao Special Administrative Region
47                                        Czech Republic
48                 Democratic People's Republic of Korea
49                      Democratic Republic of the Congo
81                            Iran (Islamic Republic of)
94                      Lao People's Democratic Republic
140                                    Republic of Korea
141                                  Republic of Moldova
143                                   Russian Federation
145                                Saint Kitts and Nevis
147                     Saint Vincent and the Grenadines
150                                Sao Tome and Principe
166                                            Swaziland
169                                 Syrian Arab Republic
172            The former Yugoslav Republic of Macedonia
183    United Kingdom of Great Britain and Northern I...
184                          United Republic of Tanzania
185                             United States of America
189                   Venezuela (Bolivarian Republic of)
190                                             Viet Nam
Name: Country, dtype: object

In [237]:
# Corrigindo os nomes divergentes das bases de dados de populaÃ§Ã£o e imigraÃ§Ã£o pro canadÃ¡

id = [21, 25, 37, 38, 47, 48, 49, 81, 94, 140, 141, 143, 145, 147, 150, 166, 169, 172, 183, 184, 185, 189, 190]
nomes = ['Bolivia', 'Brunei', 'China', 'China', 'Czech Republic (Czechia)', 'North Korea', 'DR Congo', 'Iran', 
        'Laos', 'South Korea', 'Moldova', 'Russia', 'Saint Kitts & Nevis', 'St. Vincent & Grenadines', 'Sao Tome & Principe',
        'Eswatini', 'Syria', 'North Macedonia', 'United Kingdom', 'Tanzania', 'United States', 'Venezuela', 'Vietnam']

i = 0
for number in id:
       df_canada.at[number, 'Country'] = nomes[i]
       i += 1

In [238]:
# Separando os dados da database em informaÃ§Ãµes e valores

df_canada_values = df_canada.drop(['Continent', 'Region', 'DevName'], axis = 1)
pop_country = pop_country.sort_values(by='Country', ignore_index=True)
df_canada_values['Population'] = pop_country['Population']
df_canada_values = df_canada_values.melt(['Country', 'Population'], var_name = 'Year', value_name='Immigrants')
df_canada_values.head()

          Country  Population  Year  Immigrants
0     Afghanistan    39074280  1980          16
1         Albania     2877239  1980           1
2         Algeria    43984569  1980          80
3  American Samoa       55169  1980           0
4         Andorra       77287  1980           0

In [239]:
anos = []
for year in range(1980, 2014):
    anos.append(str(year))

df_canada_info = df_canada.drop(anos, axis = 1)
df_canada_info = df_canada_info.drop('Total', axis = 1)
df_canada_info.head()

          Country Continent           Region             DevName
0     Afghanistan      Asia    Southern Asia  Developing regions
1         Albania    Europe  Southern Europe   Developed regions
2         Algeria    Africa  Northern Africa  Developing regions
3  American Samoa   Oceania        Polynesia  Developing regions
4         Andorra    Europe  Southern Europe   Developed regions

In [240]:
df_canada_info = df_canada_info.merge(pop_country, on = 'Country', suffixes=None)
df_canada_info

C:\Users\dario\AppData\Local\Temp\ipykernel_24220\3777628308.py:1: FutureWarning: Passing 'suffixes' as a <class 'NoneType'>, is not supported and may give unexpected results. Provide 'suffixes' as a tuple instead. In the future a 'TypeError' will be raised.
  df_canada_info = df_canada_info.merge(pop_country, on = 'Country', suffixes=None)

,Country,Continent,Region,DevName,Population,Land Area (KmÂ²),Migrants (net),Med. Age,Urban Pop %
0,Afghanistan,Asia,Southern Asia,Developing regions,39074280,652860,-62920.0,18,25 %
1,Albania,Europe,Southern Europe,Developed regions,2877239,27400,-14000.0,36,63 %
2,Algeria,Africa,Northern Africa,Developing regions,43984569,2381740,-10000.0,29,73 %
3,American Samoa,Oceania,Polynesia,Developing regions,55169,200,NaN,N.A.,88 %
4,Andorra,Europe,Southern Europe,Developed regions,77287,470,NaN,N.A.,88 %
...,...,...,...,...,...,...,...,...,...
190,Vietnam,Asia,South-Eastern Asia,Developing regions,97490013,310070,-80000.0,32,38 %
191,Western Sahara,Africa,Northern Africa,Developing regions,599769,266000,5582.0,28,87 %
192,Yemen,Asia,Western Asia,Developing regions,29935468,527970,-30000.0,20,38 %
193,Zambia,Africa,Eastern Africa,Developing regions,18468257,743390,-8000.0,18,45 %
194,Zimbabwe,Africa,Eastern Africa,Developing regions,14899771,386850,-116858.0,19,38 %

In [241]:
df_canada_values.to_csv(r'df_canada_values.csv', index=False, header=True)
df_canada_info.to_csv(r'df_canada_info.csv', index=False, header=True)